<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <ul class="navbar-nav mr-auto">
    <li ngbDropdown class="nav-item">
    <a ngbDropdownToggle id="navbarMenu2" class="nav-link dropdowntoggle" role="button">
    <a class="dropdown-item" routerLink="/test-page1">Test Page1</a>
    </a>
    <div ngbDropdownMenu aria-labelledby="navbarMenu2" class="dropdownmenu">
    <a class="dropdown-item" routerLink="/lesson-edit-form">Lesson Edit
   Form...</a>
    </div>
    </li>
    </ul>
   </nav>
   <router-outlet></router-outlet>