<div class="container">
    <div class="row">
    <label class="col-4">text bind <code
   ngNonBindable>{{numberValue}}</code></label>
    <div class="col-2">numberValue: {{numberValue}}</div>
    </div>
    <div class="row">
    <label class="col-4">button (click)="onClickIncrementValue()"</label>
    <button class="col-2 btn btn-outline-primary" type="button"
   (click)="onClickIncrementValue()">Increment</button>
    </div>
    <div class="row">
    <label class="col-4">input disabled="true"
   [value]="numberValue"</label>
    <input class="col-2" disabled="true" [value]="numberValue">
    </div>
    <div class="row">
    <label class="col-4">input [value]="numberValue"
   (input)="onInputChanged($event)"</label>
    <input class="col-2" [value]="numberValue"
   (input)="onInputChanged($event)">
    </div>
    <div class="row">
    <label class="col-4">input [(ngModel)]="numberValue"</label>
    <input class="col-2" type="number" [(ngModel)]="numberValue">
    <app-number-display [value]="numberValue"></app-number-display>
    <app-number-steps class="col-3"
  (decr10)="onDecr10($event)"
  (decr1)="onDecr1($event)"
  (incr1)="onIncr1($event)"
  (incr10)="onIncr10($event)"
></app-number-steps>
<app-number-edit [(value)]="numberValue"></app-number-edit>
    </div>
   </div>
   